<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title-page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
  <div class="container">
    <div class="welcome">Namaste! Welcome to</div>

    <div class="text">
      <span>C</span>
      <span>H</span>
      <span>I</span>
      <span>K</span>
      <span>I</span>
      <span>T</span>
      <span>S</span>
      <span>A</span>
      <span class="dot">.</span>
      <span>A</span>
      <span>I</span>
    </div>

    <button class="btn" onclick="location.href='/book'">Book Appointment</button>

  </div>
</body>
</html>
